#full_groups {
  width: 700px;
  height: 1200px;
  border: 1px solid rgba(245, 3, 233, 0.5);
  margin: 10px auto;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(197, 167, 101, 0.6) 0%,
    rgba(113, 214, 135, 0.6) 100%
  );
  box-shadow: 8px 10px rgba(223, 185, 102, 0.2);
}

.Single_Group {
  width: 45%;
  height: 30%;
  border: 1px solid rgba(245, 3, 233, 0.5);
  margin: 20px 15px;
  border-radius: 30px;
  background-color: rgba(226, 221, 221, 0.8);
  border: 1px solid rgba(245, 3, 233, 0.5);
  display: inline-block;
}

.Group_pictures {
  margin: 10px;
  display: inline-block;
  height: 37%;
  width: 42%;
  border-radius: 30px;
  border: 1px solid rgba(245, 3, 233, 0.5);
}

.Group_button {
  margin: auto;
  text-align: center;
  width: 100px;
  height: 30px;
  display: block;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgb(197, 167, 101) 0%,
    rgb(168, 129, 45) 100%
  );
  color: rgb(226, 221, 221);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.1rem;

  border: 2px solid rgb(136, 114, 68);
  border-radius: 5px;
  cursor: pointer;
}

#switch_dark {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
}

#switch_light {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 50px;
}
