/* .Rows {
  display: block;
} */

.header_for_pre_game {
  text-align: center;
  min-width: 500px;
}

div > ul > li.cell {
  width: 12%;
  min-width: 100px;
  height: 150px;
  border-radius: 30%;
  display: inline-block;
  border: 1px solid rgba(245, 3, 233, 0.3);
}

div > ul > li > img.gameImage {
  height: 100%;
  width: 100%;
}

.gameImage {
  height: 100%;
  width: 100%;
}

.exampleImageInLI {
  background-color: white;
}

.cell {
  width: 5vw;
  height: 4vw;
  border-radius: 30%;
  display: inline-block;
  border: 3px solid rgba(245, 3, 233, 0.3);
  margin: 2px;
}

.textDivTopPage {
  min-height: 30px;
  text-align: center;
  padding-top: 15px;
  background: linear-gradient(
    90deg,
    rgba(197, 167, 101, 0.5) 0%,
    rgba(113, 214, 135, 0.5) 100%
  );
}

.timer {
  display: inline-block;
  min-width: 150px;
  margin: 50px 20px 0px 150px;
  position: absolute;
  top: 100px;
}

.playerName {
  display: inline-block;
  min-width: 250px;
  font-weight: bolder;
  font-size: larger;
  margin: 100px 20px 0px 100px;
  position: absolute;
  top: 0px;
}

.high-score {
  display: inline-block;
  min-width: 200px;
  margin: 50px 20px 0 125px;
  font-weight: bolder;
  font-size: larger;
  position: absolute;
  top: 0px;
}

#playerName {
  color: darkblue;
}

#grid {
  width: max-content;
  margin: 5px auto;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(197, 167, 101, 0.6) 0%,
    rgba(113, 214, 135, 0.6) 100%
  );
  box-shadow: 8px 10px rgba(223, 185, 102, 0.2);
  padding: 2%;
  display: block;
}

.topImagesWithName {
  width: 70%;
  margin-top: 20px;
}

.choosen {
  border: 3px solid red;
}

.imageNumber {
  display: inline;
  margin-right: 120px;
}

.startButton {
  margin: 15px auto;
  display: block;
  background: linear-gradient(
    90deg,
    rgba(197, 167, 101, 0.6) 0%,
    rgba(113, 214, 135, 0.6) 100%
  );
  border-radius: 50px;
  height: 50px;
  width: 250px;
  font-weight: bold;
  font-size: larger;
  border: 0px;
}

.startButton:hover {
  cursor: pointer;
  color: rgb(245, 3, 233);
  border: 5px solid;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
}

.show-modal {
  visibility: visible;
  z-index: 10;
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: darkred;
  cursor: pointer;
}

.modal-container {
  background: linear-gradient(
    90deg,
    rgba(197, 167, 101, 0.9) 0%,
    rgba(113, 214, 135, 0.9) 100%
  );
  border-radius: 30px;
  width: 90vw;
  height: 30vh;
  max-width: 750px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.congratulation-message {
  color: dimgray;
  font-size: 35px;
}

.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
}

.show-confirm {
  visibility: visible;
  z-index: 10;
}

.no-modal-btn {
  font-weight: bold;
  top: 10rem;
  right: 10rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: white;
  cursor: pointer;
  background-color: darkred;
  height: 50px;
  width: 70px;
  border-radius: 30%;
  display: inline-block;
}

.yes-modal-btn {
  display: inline-block;
  top: 10rem;
  left: 10rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: white;
  cursor: pointer;
  background-color: darkgreen;
  height: 50px;
  width: 70px;
  border-radius: 30%;
  margin: 40px 60px 40px 150px;
}

.confirm-container {
  background: linear-gradient(
    90deg,
    rgba(182, 102, 102, 0.9),
    rgba(89, 145, 89, 0.9) 100%
  );
  border-radius: 30px;
  width: 90vw;
  height: 30vh;
  max-width: 750px;
  text-align: center;
  place-items: center;
  position: relative;
}

.confirm-message {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  font-size: 40px;
  margin-top: 30px;
}

#switch_dark {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
}

#switch_light {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 50px;
}
