body {
    background-image: url(../Images/back-ground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    margin: 200px auto;

  }
   
  .login-form form {
    border-radius:30%;
    background: linear-gradient(
    90deg,
    rgba(197, 167, 101,0.6) 0%,
    rgba(113, 214, 135 ,0.6) 100%
  );
  
  color: #fff;
    width: 23rem;
    margin: 0 auto;
    padding: 3rem 2rem 2rem 2rem;
    border: 3px solid rgb(136, 114, 68);
    border-radius: 30px;
  }
   
  .login-form label {
      font-size: 40px;
    display: block;
    color:rgb(156, 107, 3);
    font-weight: bold;
    display: inline;
    margin: 20px 20px 20px 0px;
  }
   
  .login-form input,
.login-form select  {
    margin-bottom: 1.9rem;
    font-size: 1.2rem;
    height: 1.9rem;
    width: 20rem;
    background-color: rgb(197, 167, 101);
    border: 2px solid rgb(136, 114, 68);
    margin: 20px 20px 20px 40px;

  }
  
  
   
  .login-form button {
      margin-top: 30px;
   margin-left: 90px;
    display: block;
    padding: 5px 25px;
    background: linear-gradient(
    90deg,
    rgb(197, 167, 101) 0%,
    rgb(163, 86, 86) 100%
  );
  color: rgb(240, 227, 203);
  font-weight: bold;
  text-transform: capitalize;
    font-size: 1.1rem;
    
    border: 2px solid rgb(136, 114, 68);
    border-radius: 5px;
    cursor: pointer;
  }
