body {
  background-image: url(../Images/back-ground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.cards {
  width: 430px;
  height: 100px;
  margin-bottom: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  border: solid 1px black;
  border-radius: 30%;
  display: inline-block;
  margin: 0;
}
